/*
 * Copyright 2020 Oliver Trevor and Suchin Ravi.
 *
 * This file is part of MarkSpace.
 *
 * MarkSpace is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MarkSpace is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MarkSpace.  If not, see <https://www.gnu.org/licenses/>.
 */

.test_question_a {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.test_question_a.highlighted {
    border-color: green;
    background-color: lightgreen;
    color: black;
}

#grading_table {
    width: 100vw;
}

th, td {
    border: 3px solid #3b5998;
    border-radius: 15px;
    width: 50vw;
    padding: 10px 10px 10px 10px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: calc(100% - 40px);
}

[v-cloak] {
    display: none;
}