<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="global.css">
        <link rel="stylesheet" type="text/css" href="create_new_test.css">
        <h1>Create New Test</h1>
    </head>
    <body>
        <h2>Step 1: Upload The Test</h2>
        <p>Upload a PDF file of the test (with correct solutions) that has the exact <u>same</u> format as the test that will be given to students.</p>
    </body>
</html>