<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/create_new_test_2.css">
        <h1>Create New Test</h1>
    </head>
    <body>
        <h2>Step 2: Create Questions</h2>
        <p>You have uploaded the test called <i>$test_name</i>. Now, to finish creating this test, you must click-and-drag to highlight the regions of the page containing each question.</p>
        <p>This information will be used to split scans of students' tests into individual questions to be graded.</p>
        <p><i>Click-and-drag on the page to select the region for <b id="current_question_number">question 1</b></i></p>
        <button id="previous_page_button"><< Previous Page</button>
        <button id="next_page_button">Next Page >></button>
        <br>
        <canvas id="test_canvas">
            Your browser does not support the HTML5 canvas. Please find a web browser from this millennium.
        </canvas>
        <div id="questions">
            <h3>Questions:</h3>
            <p id="no_questions_p"><i>No questions have been created yet. Click-and-drag on the document to create a question.</i></p>
            <form method="post" action="/create_new_test_2">
                <input type="submit" value="Finish Creating Questions" class="submit_button hidden" />
                <p><i>Negative, decimal, and zero point values for questions are permitted.</i></p>
                <table id="questions_table">
                    <tr>
                        <th>Question Number</th>
                        <th>Point Value</th>
                        <th>Extra Credit</th>
                    </tr>
                </table>
                <input type="submit" value="Finish Creating Questions" class="submit_button hidden" />
            </form>
        </div>
        <script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/scripts/create_new_test_2/create_new_test_2.js"></script>
    </body>
</html>