<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grading Test <i>$test_name</i></title>
        <h1>Grading Test <i>$test_name</i></h1>
    </head>
    <body>
        <h2 id="current_question_h2"></h2>
        <canvas id="question_canvas">
            Your browser does not support the HTML5 canvas. Please select a browser from this millennium.
        </canvas>
        <input type="text" id="score_input" /><span id="possible_points_span"></span>
        <script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/scripts/typescript/global_parameters.js"></script>
        <script type="text/javascript" src="/scripts/typescript/canvasrenderer.js"></script>
        <script type="text/javascript" src="/scripts/typescript/testviewer.js"></script>
        <script type="text/javascript" src="/scripts/typescript/testquestion.js"></script>
        <script type="text/javascript" src="/scripts/typescript/retrievequestions.js"></script>
        <script type="text/javascript" src="/scripts/typescript/grade_test.js"></script>
    </body>
</html>